{
    "controller": {
        "name": "gensee_agent",
        "allow_user_interaction": true
    },

    "llm_manager": {
        "available_models": ["openai.gpt-5-mini", "openai.gpt-5"],
        "default_model": "openai.gpt-5-mini",
        "streaming": true
    },

    "tool_manager": {
        "available_tools": ["gensee.slack_tool", "gensee.search"]
    },

    "prompt_manager": {
        "generic_template_file": null
    },

    "slack_tool": {
        "slack_bot_token": "xoxb-[slack key]",
        "max_channel_size": 200
    },

    "gensee_search": {
        "gensee_api_key": "[gensee key]"
    }
}